<div class="container text-center">
    <!-- <br> -->
    <!-- <br> -->
    <h4>Photo</h4>

    <button ng-click="geoFindMe()" type="button" class="btn btn-primary">
        <i class="fa fa-thumb-tack"></i>
        <br>Get coordinate
    </button>
    <!-- <br /> -->
    <!-- <br /> -->
    <!-- <br /> -->

    <small ng-if="loading">
        <br>
        <br>
        <i class="fa fa-spinner fa-pulse fa-3x fa-fw margin-bottom"></i>
    </small>

    <div ng-if="!coordinate.longitude">
        <br>
        <br>
        <p>latitude: {{coordinate.latitude}}</p>
        <p>longitude: {{coordinate.longitude}}</p>
    <br><br>
        <button ng-click="getPhoto()" type="button" class="btn btn-primary">
            <i class="fa fa-thumb-tack"></i>
            <br>Get photo from the location
            <div>
                <img src="{{photo.one}}" style="max-width: 300px" />
            </div>
        </button>
    </div>
</div>
